{% extends 'manages/base.html' %}
{% block content %}
<a href="{% url 'add_tivi' %}" class="btn btn-success" style="margin-top: 10px"><i class="fas fa-plus-square"></i>
    Add</a>

<h1 class="my-3"></h1>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Warranty</th>
            <th>Screen size</th>
            <th>Manufacture</th>
            <th>Connector</th>
            <th style="width: 200px"></th>
        </tr>
    </thead>
    <tbody id="myTable">
        {% for tivi in tivis %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{tivi.name }}</td>
            <td>{{tivi.warranty }}</td>
            <td>{{tivi.screenSize }}</td>
            <td>{{tivi.manufacturer}}</td>
            <td>{{tivi.connector }}</td>
            <td>
                <a href="{% url 'edit_tivi' tivi.pk %}" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</a>
                <a onclick="return window.confirm('Bạn có chắc muốn xóa?')" href="{% url 'delete_tivi' tivi.pk %}" 
                    class="btn btn-danger"><i class="fas fa-eraser"></i>
                    Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
