{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load filters %}
<link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">

<div id="main" class="container all-item">
    <h4 class="tieude-tp">ELECTRONICS</h4>
    <div class="loc-sp">
        <span class="title-x">LỌC SẢN PHẨM</span>
        <div class="danh-muc">
            <span class="title">HÃNG SẢN XUẤT</span>
            <ul class="list-unstyled">
                <li>
                    <a href="javascript:void(0);" onclick="Shop.addUrlParameter('manufacturer', 'Dell')">
                        <i class="fas fa-angle-double-right"></i> Dell
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Shop.addUrlParameter('manufacturer', 'HP')">
                        <i class="fas fa-angle-double-right"></i> HP
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Shop.addUrlParameter('manufacturer', 'Acer')">
                        <i class="fas fa-angle-double-right"></i> Acer
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Shop.addUrlParameter('manufacturer', 'Asus')">
                        <i class="fas fa-angle-double-right"></i> Asus
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Shop.addUrlParameter('manufacturer', 'MSI')">
                        <i class="fas fa-angle-double-right"></i> MSI
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Shop.addUrlParameter('manufacturer', 'Samsung')">
                        <i class="fas fa-angle-double-right"></i> Samsung
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Shop.addUrlParameter('manufacturer', 'Apple')">
                        <i class="fas fa-angle-double-right"></i> Apple
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Shop.addUrlParameter('manufacturer', 'LG')">
                        <i class="fas fa-angle-double-right"></i> LG
                    </a>
                </li>
            </ul>
        </div>

        <div class="khoang-gia">
            <span class="title">KHOẢNG GIÁ</span>
            <ul class="list-unstyled">
                {% if request.GET.price == None %}
                <li><a href="javascript:void(0);" onclick="Shop.addUrlParameter('price', 'duoi5tr')"><i
                            class="far fa-square"></i> Dưới 5.000.000 ₫</a></li>
                <li><a href="javascript:void(0);" onclick="Shop.addUrlParameter('price', '5trden10tr')"><i
                            class="far fa-square"></i> Từ 5.000.000 đ đến 10.000.000 ₫</a></li>
                <li><a href="javascript:void(0);" onclick="Shop.addUrlParameter('price', '10trden15tr')"><i
                            class="far fa-square"></i> Từ 10.000.000 ₫ đến 15.000.000 ₫</a></li>
                <li><a href="javascript:void(0);" onclick="Shop.addUrlParameter('price', '15trden25tr')"><i
                            class="far fa-square"></i> Từ 15.000.000 ₫ đến 25.000.000 ₫</a></li>
                <li><a href="javascript:void(0);" onclick="Shop.addUrlParameter('price', 'tren25tr')"><i
                            class="far fa-square"></i> Trên 25.000.000 ₫</a></li>

                {% elif request.GET.price == 'duoi5tr' %}
                <li><a href="javascript:void(0);" onclick="Shop.deleteUrlParameter('price')"><i
                            class="far fa-check-square"></i> Dưới 5.000.000 ₫</a></li>

                {% elif request.GET.price == '5trden10tr' %}
                <li><a href="javascript:void(0);" onclick="Shop.deleteUrlParameter('price')"><i
                            class="far fa-check-square"></i> Từ 5.000.000 đ đến 10.000.000 ₫</a></li>

                {% elif request.GET.price == '10trden15tr' %}
                <li><a href="javascript:void(0);" onclick="Shop.deleteUrlParameter('price')"><i
                            class="far fa-check-square"></i> Từ 10.000.000 ₫ đến 15.000.000 ₫</a></li>

                {% elif request.GET.price == '15trden25tr' %}
                <li><a href="javascript:void(0);" onclick="Shop.deleteUrlParameter('price')"><i
                            class="far fa-check-square"></i> Từ 15.000.000 ₫ đến 25.000.000 ₫</a></li>

                {% elif request.GET.price == 'tren25tr' %}
                <li><a href="javascript:void(0);" onclick="Shop.deleteUrlParameter('price')"><i
                            class="far fa-check-square"></i> Trên 25.000.000 ₫</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="product-sp">
        <div class="product-list">
            <div class="list-sort">
                <select id="sort-select" onchange="Shop.addUrlParameter('sort', this.value)">
                    <option value="">Sắp xếp sản phẩm</option>
                    <option value="low-to-high">Giá tăng dần</option>
                    <option value="high-to-low">Giá giảm dần</option>
                </select>
            </div>

            <div class="list-electronics">
                <div class="row">
                    {% for electronicsItem in electronicItems %}
                    <div class="col-md-3">
                        <div style="text-align: center;">
                            <a href=""><img src="{{electronicsItem.img.url}}" alt="product"></a>
                        </div>
                        <div class="infor" style="text-align: center;">
                            <a href="">
                                <h6>{{electronicsItem.electronic.name}}</h6>
                            </a>

                            {% if electronicsItem.discount > 0 %}
                            <div class="gia-goc">
                                <p class="gia-chinh">
                                    {{electronicsItem.price|format_money}}
                                    ₫
                                </p>
                                <p class="khuyen-mai">(Tiết kiệm: {{electronicsItem.discount}} %)</p>
                            </div>
                            {% endif %}
                            <h6 class="gia-ban">
                                {{electronicsItem.price|calcPrice:electronicsItem.discount|format_money }}
                                ₫
                            </h6>
                            <a href="javascript:Shop.addToCart('{{electronicsItem.barCode}}');"><i class="fas fa-shopping-cart"></i>&nbsp;Mua ngay</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="list-sort" style="margin-top: 3rem;">
                <div class="paging mx-auto">
                    <a href="javascript:Shop.goPrev()">Previous</a> <a href="javascript:void(0);"
                        onclick="Shop.addUrlParameter('page', 1)">1</a> <a href="javascript:void(0);"
                        onclick="Shop.addUrlParameter('page', 2)">2</a> <a href="javascript:void(0);"
                        onclick="Shop.addUrlParameter('page', 3)">3</a> <a class="pa4" href="javascript:void(0);"
                        onclick="Shop.addUrlParameter('page', 4)">4</a> <a class="pa5" href="javascript:void(0);"
                        onclick="Shop.addUrlParameter('page', 5)">5</a> <a href="javascript:Shop.goNext()">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear-with-height"></div>
{% endblock %}