{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load filters %}
<div id="banner">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
        </ul>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/banner4.jpg' %}" alt="Banner">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/banner5.jpg' %}" alt="Banner">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/banner6.jpg' %}" alt="Banner">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/banner1.jpg' %}" alt="Banner">
            </div>
        </div>

        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a> <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</div>

<div id="main">
    <div class="container">
        <div class="category">
            <h3 class="tieu-de" style="margin-top: 20px; text-align: center;">DANH
                MỤC</h3>
            <div class="row">
                <div class="col-md-3">
                    <a href="/clothes"><img src="{% static 'img/clothes.png' %}" alt="product"></a>
                    <div class="infor" style="text-align: center;">
                        <a href="/clothes">
                            <h6>Clothes</h6>
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <a href="{% url 'category_electronics' %}"><img src="{% static 'img/electronic.png' %}" alt="product"></a>
                    <div class="infor" style="text-align: center;">
                        <a href="{% url 'category_electronics' %}">
                            <h6>Electronics</h6>
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <a href="/shoes"><img src="{% static 'img/shoes.png' %}" alt="product"></a>
                    <div class="infor" style="text-align: center;">
                        <a href="/shoes">
                            <h6>Shoes</h6>
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <a href="/book"><img src="{% static 'img/book.png' %}" alt="product"></a>
                    <div class="infor" style="text-align: center;">
                        <a href="/book">
                            <h6>Book</h6>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="book">
            <h3 class="tieu-de" style="margin-top: 20px; text-align: center;">BOOK</h3>
            <div class="row">
                {% for bookitem in bookItems %}
                {% if forloop.counter < 5 %} 
                <div class="col-md-3">
                    <div style="text-align: center;">
                        <a href=""><img src="{{bookitem.img.url}}" alt="product"></a>
                    </div>
                    <div class="infor" style="text-align: center;">
                        <a href="">
                            <h6>{{bookitem.book.title}}</h6>
                        </a>

                        {% if bookitem.discount > 0 %}
                        <div class="gia-goc">
                            <p class="gia-chinh">
                                {{bookitem.price|format_money}}
                                ₫
                            </p>
                            <p class="khuyen-mai">(Tiết kiệm: {{bookitem.discount}} %)</p>
                        </div>

                        {% endif %}
                        <h6 class="gia-ban">
                            {{bookitem.price|calcPrice:bookitem.discount|format_money }}
                            ₫
                        </h6>
                        <a href="javascript:Shop.addToCart('{{bookitem.barCode}}');"><i class="fas fa-shopping-cart"></i>&nbsp;Mua ngay</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="electronics">
            <h3 class="tieu-de" style="margin-top: 20px; text-align: center;">ELECTRONICS</h3>
            <div class="row">
                {% for electronicsItem in electronicsItems %}
                {% if forloop.counter < 5 %} 
                <div class="col-md-3">
                    <div style="text-align: center;">
                        <a href=""><img src="{{electronicsItem.img.url}}" alt="product"></a>
                    </div>
                    <div class="infor" style="text-align: center;">
                        <a href="">
                            <h6>{{electronicsItem.electronic.name}}</h6>
                        </a>

                        {% if electronicsItem.discount > 0 %}
                        <div class="gia-goc">
                            <p class="gia-chinh">
                                {{electronicsItem.price|format_money}}
                                ₫
                            </p>
                            <p class="khuyen-mai">(Tiết kiệm: {{electronicsItem.discount}} %)</p>
                        </div>

                        {% endif %}
                        <h6 class="gia-ban">
                            {{electronicsItem.price|calcPrice:electronicsItem.discount|format_money }}
                            ₫
                        </h6>
                        <a href="javascript:Shop.addToCart('{{electronicsItem.barCode}}');"><i class="fas fa-shopping-cart"></i>&nbsp;Mua ngay</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="shoes">
            <h3 class="tieu-de" style="margin-top: 20px; text-align: center;">SHOES</h3>
            <div class="row">
                {% for shoesItem in shoesItems %}
                {% if forloop.counter < 5 %} 
                <div class="col-md-3">
                    <div style="text-align: center;">
                        <a href=""><img src="{{shoesItem.img.url}}" alt="product"></a>
                    </div>
                    <div class="infor" style="text-align: center;">
                        <a href="">
                            <h6>{{shoesItem.shoes.name}}</h6>
                        </a>

                        {% if shoesItem.discount > 0 %}
                        <div class="gia-goc">
                            <p class="gia-chinh">
                                {{shoesItem.price|format_money}}
                                ₫
                            </p>
                            <p class="khuyen-mai">(Tiết kiệm: {{shoesItem.discount}} %)</p>
                        </div>

                        {% endif %}
                        <h6 class="gia-ban">
                            {{shoesItem.price|calcPrice:shoesItem.discount|format_money }}
                            ₫
                        </h6>
                        <a href="javascript:Shop.addToCart('{{shoesItem.barCode}}');"><i class="fas fa-shopping-cart"></i>&nbsp;Mua ngay</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="clothes">
            <h3 class="tieu-de" style="margin-top: 20px; text-align: center;">CLOTHES</h3>
            <div class="row">
                {% for clothesItem in clothesItems %}
                {% if forloop.counter < 5 %} 
                <div class="col-md-3">
                    <div style="text-align: center;">
                        <a href=""><img src="{{clothesItem.img.url}}" alt="product"></a>
                    </div>
                    <div class="infor" style="text-align: center;">
                        <a href="">
                            <h6>{{clothesItem.clothes.name}}</h6>
                        </a>

                        {% if clothesItem.discount > 0 %}
                        <div class="gia-goc">
                            <p class="gia-chinh">
                                {{clothesItem.price|format_money}}
                                ₫
                            </p>
                            <p class="khuyen-mai">(Tiết kiệm: {{clothesItem.discount}} %)</p>
                        </div>

                        {% endif %}
                        <h6 class="gia-ban">
                            {{clothesItem.price|calcPrice:clothesItem.discount|format_money }}
                            ₫
                        </h6>
                        <a href="javascript:Shop.addToCart('{{clothesItem.barCode}}');"><i class="fas fa-shopping-cart"></i>&nbsp;Mua ngay</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>


    </div>

</div>
{% endblock %}